/* Definizione colori primario e secondario del sito*/
:root {
    --awwa-primary: #e5af05;
    --awwa-secondary: #00008b;
}

body {
    background-color: #eeeeee;    
}

body.main {
    background-image: url(../img/bg-pattern/pattern.jpg);
}

body.tv {
    background-image: url(../img/Tv-vintage.jpg);
}

.h7 {
    font-size: 0.8rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}
/* Personalizzazioni */

footer {
    background: var(--awwa-primary);
    height: 40px;
    text-align: center;
    line-height: 40px;
}

/* Stile per il distanziamento dei bottoni */
.button {
    padding: 1em;
    text-align: center;
}

/* Stile dei bottoni */
.btn.btn-outline-form {
  color: white;
  background-color: var(--awwa-primary);
  border-color: var(--awwa-primary);
}

/* Sfondo navbar */
.navbar-bg-gold {
    background-color: var(--awwa-primary);
}

/* Testo color nero */
.text-black {
    color: black;
}

/* Testo color oro */
.text-gold {
    color: var(--awwa-primary);
}