/* Definizione colori primario e secondario del sito*/
:root {
    --awwa-primary: #e5af05;
    /*--awwa-secondary: #00006b;*/
    --awwa-secondary: #1e006b;
}

/*DEBUGGING*/
/*body * {border: 1px solid red !important;}*/

/* Definizioni classi per assegnare colori primario e secondario del sito */
.awwa-primary {
    color: var(--awwa-primary) !important;
}

.awwa-secondary {
    color: var(--awwa-secondary) !important;
}

.bg-awwa-primary {
    background-color: var(--awwa-primary) !important;
}

.bg-awwa-secondary {
    background-color: var(--awwa-secondary) !important;
}

/* Personalizzazione scrollbar */
body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: var(--awwa-secondary);
}

body::-webkit-scrollbar-thumb {
    background: var(--awwa-primary);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;    
}

body.main {
    background-image: url(../img/bg-pattern/pattern.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.h7 {
    font-size: 0.8rem;
}

.navbar-brand {
    font-family: 'Averia Sans Libre', cursive, sans-serif;
    font-size: 2rem;
    color: var(--awwa-secondary);
}

/* Al passaggio del mouse gli elementi della navbar diventano di colore blu e diventano leggermente più grandi,
tranne quello che corrisponde alla pagina corrente */
.navbar a.nav-item:not(.active):not(#navbarDropdown):hover {
    color: var(--awwa-secondary) !important;
    animation: enlarge 200ms;
    font-size: 1.1rem;
}

.navbar a.nav-item#navbarDropdown:hover {
    color: var(--awwa-secondary) !important;
}

@keyframes enlarge {
    from {font-size: 1rem;}
    to {font-size: 1.1rem;}
}

@-webkit-keyframes enlarge {
    from {font-size: 1rem;}
    to {font-size: 1.1rem;}
}

/* grassetto per pagina corrente in navbar */
.active {
    font-weight: bold;
    font-size: 1.1rem;
}

.navbar-nav .dropdown-item:hover {
    background-color: inherit;
    color: var(--awwa-secondary) !important;
}

footer {
    background: var(--awwa-primary);
    text-align: center;
    line-height: 40px;
    width: 100%;
}

#form_post .row {
    margin-right: 0;
    margin-left: 0;
}

/* Contorno agli input e ai select */
.form-control:focus, .custom-select:focus {
    color: #495057;
    background-color: #fff;
    border-color: var(--awwa-primary);
    outline: 0;
    box-shadow: 0 0 0 0.05rem var(--awwa-primary);
}

#form_post .btn:hover {
    border: 1px solid var(--awwa-secondary);
}

#form_post .btn:active {
    background-color: var(--awwa-secondary) !important;
    color: white !important;
    box-shadow: 0 0 0 0.05rem var(--awwa-secondary); /* h-offset v-offset blur spread color */
}

/* mouse over link */
a.post:hover {
    color: var(--awwa-secondary);
}

/* La snackbar verrà mostrata in fondo e al centro dello schermo */
.snackbar {
    visibility: hidden; /* Di default è nascosta, diverrà visibile al click (vedi classe .show) */
    min-width: 250px;
    margin-left: -125px; /* Valore della min-width diviso 2 */
    left: 50%; /* Centrare la snackbar */
    background-color: black;
    color: #fff;
    text-align: center; /* Il testo sarà centrato */
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    bottom: 50px; /* Posizione fissa a 50px dal fondo della pagina */
    z-index: 1; /* Per gestire l'overlapping con gli altri elementi della pagina */
}
  
/* Mostra la snackbar quando si clicca like/dislike (classe aggiunta con JavaScript) */
.snackbar.show {
    visibility: visible;
    /* Aggiunge animazione: impiega 0.5s per il fadein e il fadeout, con un ritardo intermedio di 2s */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2s;
    animation: fadein 0.5s, fadeout 0.5s 2s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 50px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 50px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 50px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 50px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
/* fine snackbar */

/* Bottone 'Mostra più post' */
#carica_altri_post {
    background-color: white;
    color: var(--awwa-secondary);
    border: 2px solid var(--awwa-secondary);
}

#carica_altri_post:hover {
    background-color: var(--awwa-secondary);
    color: white;
}

/* Bottone scroll to top */
#scroll_to_top {
    display: none; /* inizialmente non viene mostrato */
    position: fixed;
    bottom: 50px;
    right: 10px;
    /*z-index: 2000; /*in modo che non venga overlappato da altri elementi */
    background-color:white;
    opacity: 0.5;
    color: var(--awwa-secondary);
    width: 50px;
    height: 50px;
    border-style: none;
    border: 1px solid var(--awwa-secondary);
    padding: 0;
    cursor: pointer;
  }

#scroll_to_top:hover {
    opacity: 1;
}

#scroll_to_top:focus {
    outline: none;
    background-color: var(--awwa-secondary);
    color: white;
}

/* CSS esclusivo della pagina cerca_serie_tv */

#risultati_cerca_serie_tv div.card button, #mostra_poster {
    color: var(--awwa-secondary);
    border: 2px solid var(--awwa-secondary);
    border-radius: 5px;
}

#risultati_cerca_serie_tv div.card button:focus, #mostra_poster:focus {
    box-shadow: 0 0 0.1rem 0.05rem var(--awwa-secondary); /* h-offset v-offset blur spread color */ 
}

#risultati_cerca_serie_tv div.card button:hover, #mostra_poster:hover {
    color: white;
    background-color: var(--awwa-secondary);
}

#classifica_serie_Tmdb a, #classifica_serie_Tmdb li {
    color: var(--awwa-secondary);
}

/* Per la pagina serie_tv */

#stelle_voto {
    display: inline-block;
    font-size: 3rem;
    line-height: 1;
    /* Creazione del background giallo parziale per l'intero elemento span (linear-gradient con transizione netta).
    Ritagliando lo sfondo secondo la forma delle stelle (background-clip: text) 
    si ottiene l'effetto voluto (stelle riempite parzialmente). */
    --star-color: #fff;
    --star-background: var(--awwa-primary);
    --percent: calc(var(--rating) / 10 * 100%);
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#stelle_voto i {
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--awwa-secondary);
}
 