/* Definizione colori primario e secondario del sito*/
:root {
    --awwa-primary: #e5af05;
    --awwa-secondary: #00008b;
}

/*DEBUGGING*/
/*body * {border: 1px solid red !important;}*/

/* Definizioni classi per assegnare colori primario e secondario del sito */
.awwa-primary {
    color: var(--awwa-primary);
}

.awwa-secondary {
    color: var(--awwa-secondary);
}

.bg-awwa-primary {
    background-color: var(--awwa-primary);
}

.bg-awwa-secondary {
    background-color: var(--awwa-secondary);
}

/* Personalizzazione scrollbar */
body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: var(--awwa-secondary);
}

body::-webkit-scrollbar-thumb {
    background: var(--awwa-primary);
}

body {
    background-color: #eeeeee;    
}

body.main {
    background-image: url(../img/bg-pattern/pattern.jpg);
}

body.tv {
    background-image: url(../img/Tv-vintage.jpg);
}

.h7 {
    font-size: 0.8rem; /*da togliere? */
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}

/*-- Personalizzazioni --*/

footer {
    background: var(--awwa-primary);
    /* height: 40px; */
    text-align: center;
    line-height: 40px;
    position: fixed;
    height: 45px;
    bottom: 0;
    width: 100%;
}

/* Stile per il distanziamento dei bottoni */
.button {
    padding: 1em;
    text-align: center;
}

/* Stile dei bottoni */
.btn.gold-style {
  color: white;
  background-color: var(--awwa-primary);
  border-color: var(--awwa-primary);
}

/* Sfondo navbar */
.navbar-bg-gold {
    background-color: var(--awwa-primary);
}

/* grassetto per pagina corrente in navbar */
.active {
    font-weight: bold;
}

/* Contorno agli input */
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: var(--awwa-primary);
    outline: 0;
    box-shadow: 0 0 0 0.05rem var(--awwa-primary);
  }

/* mouse over link */
a.post:hover {
    color: var(--awwa-secondary);
}

/* The snackbar - position it at the bottom and in the middle of the screen */
.snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    left: 50%; /* Center the snackbar */
    background-color: var(--awwa-secondary); /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    bottom: 30px; /* 30px from the bottom */
    z-index: 1; /* Add a z-index if needed */
}
  
/* Show the snackbar when clicking on a button (class added with JavaScript) */
.snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
/* fine snackbar */

/* Bottone scroll to top */
#scroll_to_top {
    display: none; /* inizialmente non viene mostrato */
    position: fixed;
    bottom: 10px;
    right: 30px;
    z-index: 2000; /*in modo che non venga overlappato da altri elementi */
    background-color: var(--awwa-secondary);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
  }
  