:root {
    --awwa-primary: #e5af05;
    --awwa-secondary: rgb(23, 60, 104);
}

.awwa-primary {
    color: var(--awwa-primary);
}

.awwa-secondary {
    color: var(--awwa-secondary);
}

.bg-awwa-primary {
    background-color: var(--awwa-primary);
}

.bg-awwa-secondary {
    background-color: var(--awwa-secondary);
}

/*DEBUGGING*/
/*body * {border: 1px solid red !important;}*/

body, .container-fluid {
    min-height: 100vh;
    min-width: 100wh;
}

body.main {
    background-image: url(../img/bg-pattern/pattern.jpg);
}

body.tv {
    background-image: url(../img/Tv-vintage.jpg);
}

.container-fluid {
    /*Viene caricata un'immagine che essendo di dimensioni piuttosto inferiori a quelle
    del container permette la ripetizione automatica fino a riempire tutto il container*/
    /*background-image: url(../img/Tv-vintage_resized.jpg), url(../img/Tv-vintage.jpg); 
    background-position: top;
    background-repeat: repeat;*/
}

.form {
    border: 5px solid var(--awwa-primary);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* l'ultimo valore è opacità */
    height: 50%;
}

.footer {
    width: 100%;
    opacity: 0.8;
}

footer:hover {
    opacity: 1;
}

/* Stile dei bottoni */
.btn.btn-form-primary {
  color: white;
  background-color: var(--awwa-primary);
  border-color: white;
  font-weight: bold;
  font-size: 1.3rem;
}

.btn.btn-form-primary:hover, .btn.btn-form-secondary:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;    
}

.btn.btn-form-secondary {
    color: var(--awwa-secondary);
    background-color: white;
    border-color: var(--awwa-secondary);
}

.btn.btn-form-primary:hover {
    border-color: var(--awwa-secondary);
    color: var(--awwa-secondary);
}

.btn.btn-form-secondary:hover {
    border-color: var(--awwa-primary);
    color: var(--awwa-primary);
}

a#signupLink:hover {
    color: var(--awwa-primary);
}

/* Contorno agli input */
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: var(--awwa-secondary);
  outline: 0;
  box-shadow: 0 0 0 0.05rem var(--awwa-secondary);
}

/* forse non servono a niente
@media (min-width: 992px) {
    .container div {
        width: 33%;
    }
    .container div:last-child {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .container div:last-child {
        width: 33%;
    }
}  
*/