html,
body {
  height: 100%;
}

h1,
small {
  color: white;
}

header {
  height: 60px;
  padding: 5px;
  /*background: #1abc9c;*/
  background: #ff9800;
}
main {
  height: calc(100% - 100px);
}

.container {
  height: 100%;
  /*background: #ecf0f1;*/
  background: #ffc947;
  /*background: #c66900;*/
}

footer {
  /*background: #1abc9c;*/
  background: #ff9800;
  height: 40px;
  text-align: center;
  line-height: 40px;
}