html,
body {
  height: 100%;
  box-sizing: border-box;
}

h1,
small {
  color: white;
}

header {
  height: 10%;
  min-height: 40px;
  padding: 5px 10px;
  /*background: #1abc9c;*/
  background: #ff9900;
}

main {
  /*height: calc(100% - 100px);*/
  height: 85%;
  overflow: visible;
  
}

main .background-container {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  background-image: url(../../Tv-vintage.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  position: relative;
  float: right;
}

main .form-container {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  padding: 5px 15px;
  background-color: #FFF;
  border: 3px solid #ff9800; 
  /*background: #ecf0f1;*/
  /*background: #ffc947;*/
  /*background: #c66900;*/
  position: relative;
  float: left;
}

.form-container h2 {
  color: #ff9800;
  padding: 15px 0;
  text-align: center;
  /*border: 1px solid black;*/
}

footer {
  /*background: #1abc9c;*/
  background: #ff9800;
  height: 5%;
  text-align: center;
  line-height: 40px;
}

.button-container { 
  padding: 0.5em;
  text-align: center;
}

.button-container .btn-primary{   
  margin: 0.5em;
}