html,
body {
  height: 100%;
  font-size: 16px;
  box-sizing: border-box;
}

body * {border: 1px solid red !important;}

h1.text-white,
small {
  color: white;
  position: relative;
  top: 0px;
}



header {
  height: 60px;
  min-height: 40px;
  padding: 5px 10px;
  background: #e5af05;
}

main {
  box-sizing: border-box;
  background-image: url(../../Tv-vintage.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
  height: calc(100% - 100px);
  overflow: scroll;
}

main .form-container {
  box-sizing: border-box;
  width: 50%;
  padding: 15px;
  margin: 4rem auto;
  background-color: rgba(255,255,255,0.7);
  /*border: 3px solid #ff9800;*/ 
}

@media only screen and (max-width:400px){
  main .form-container {
    width: 90%;
  }
}

main .form-container h2 {
  color: #e5af05;
  padding: 15px 0;
  font-weight: bold;
}

footer {
  background: #e5af05;
  height: 40px;
  text-align: center;
  line-height: 1.5;
  position: relative;
  bottom: 0;
}

.button-container { 
  padding: 0.5em;
  text-align: center;
}

.button-container .btn-primary{   
  margin: 0.5em;
}

.btn.btn-primary {
  background-color: #e5af05;
  font-weight: bold;
}