html,
body {
  height: 100%;  
}

h1,
small {
  color: white;
}

header {
  height: 60px;
  padding: 5px;
  /*background: #1abc9c;*/
  /* background: #ff9800; */
  background: #e5af05;
}
main {
  height: calc(100% - 100px);
  /* background: #d0d0d0; */
  background: #eeeeee;
}

.container {
  height: 100%;
  /*background: #ecf0f1;*/
  /* background: #ffc947; */
  /* background: #d0d0d0; */
  /*background: #c66900;*/
  background: white;
}

footer {
  /*background: #1abc9c;*/
  /* background: #ff9800; */
  background: #e5af05;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.button {
    padding: 1em;
    text-align: center;
}