/* Definizione colori primario e secondario del sito*/
:root {
    --awwa-primary: #e5af05;
    --awwa-secondary: #00008b;
}

body {
    background-color: #eeeeee;    
}

body.main {
    background-image: url(../img/bg-pattern/pattern.jpg);
}

body.tv {
    background-image: url(../img/Tv-vintage.jpg);
}

.h7 {
    font-size: 0.875rem; /*da togliere? */
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}

/*-- Personalizzazioni --*/

footer {
    background: var(--awwa-primary);
    text-align: center;
    line-height: 40px;
    height: 45px;
}

/* Stile per il distanziamento dei bottoni */
.button {
    padding: 1em;
    text-align: center;
}

/* Stile dei bottoni */
.btn.gold-style {
  color: white;
  background-color: var(--awwa-primary);
  border-color: var(--awwa-primary);
}

/* Sfondo navbar */
.navbar-bg-gold {
    background-color: var(--awwa-primary);
}

/* Testo color nero */
.text-black {
    color: black;
}

/* Testo color oro */
.text-gold {
    color: var(--awwa-primary);
}

/* mouse over link */
a.post:hover {
    color: var(--awwa-secondary);
}